# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Temporary files
tmp/
temp/

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS specific files
.DS_Store
Thumbs.db